node_modules
dist
# Keep environment variables out of version control
.env

/src/models/**/*.ts
/database/**/*.ts

/public/storage
/storage/*.key

# ArkStack specific files and directories
.arkstack
.arkormx
.DS_Store
.idea
.vscode